services:

  zenoh-bridge:
    image: eclipse/zenoh-bridge-ros2dds:latest
    container_name: zenoh-bridge
    network_mode: "host"

  pi_control:
    depends_on:
      - zenoh-bridge
    build:
      context: .
      dockerfile: ./docker/Dockerfile.pi
    network_mode: host
    image: hexbot_pi_ros_img:latest
    container_name: pi_control
    privileged: true 
    environment:
      - ROS_DOMAIN_ID=0
      - RMW_IMPLEMENTATION=rmw_zenoh_cpp
    working_dir: /root/ros2_ws
    volumes:
      - ./src:/root/ros2_ws/src
      - ./config/realsense_params.yaml:/root/ros2_ws/install/pi_control/share/pi_control/config/realsense_params.yaml
    # command: ["bash", "-c", "ntpdate pool.ntp.org && source /opt/ros/jazzy/setup.bash && colcon build && source install/setup.bash && ros2 launch pi_control robot_launch.py"]
    
  windows_command:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.wsl
    image: hexbot_wsl_ros_img:latest
    container_name: windows_command
    privileged: true
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - XAUTHORITY=/tmp/.docker.xauth
      - ROS_DOMAIN_ID=0
      - RMW_IMPLEMENTATION=rmw_zenoh_cpp
      - RUST_LOG=zenoh=fatal,zenoh_transport=fatal
      - ZENOH_SESSION_CONFIG_URI=/root/config/client.yaml
    working_dir: /root/ros2_ws
    volumes:
      - ./config/client_config.yaml:/root/config/client.yaml
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ./src:/root/ros2_ws/src
    command: ["bash", "-c", "ntpdate pool.ntp.org && source /opt/ros/jazzy/setup.bash && colcon build && source install/setup.bash && ros2 launch windows_command window_launch.py"]