<?xml version="1.0" encoding="UTF-8" ?>
<dds>
    <profiles>
        <participant profile_name="server_profile" is_default_profile="true">
            <rtps>
                <builtin>
                    <listenAddress>
                        <address>0.0.0.0</address>
                        <port>11811</port>
                    </listenAddress>
                </builtin>
            </rtps>
        </participant>
    </profiles>
</dds>